/ {
    chosen {
        zmk,kscan = &kscan0;
        zephyr,display = &st7789;
    };

    /* Rétroéclairage de l'écran sur P1.04 (104) */
    backlight: backlight {
        compatible = "gpio-leds";
        backlight_led: backlight_led {
            gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
            label = "Backlight";
        };
    };

    /* Bouton utilisateur sur P0.31 (031) */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios = <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

/* Configuration du contrôleur de broches SPI (Pinctrl) */
&pinctrl {
    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,   /* SCL -> P0.17 */
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>;  /* SDA -> P0.20 */
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 17)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 20)>;
            low-power-enable;
        };
    };
};

/* Activation du bus SPI1 et définition de l'écran ST7789 */
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    
    /* CS sur P0.11 */
    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

    st7789: st7789@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        spi-max-frequency = <20000000>;
        
        /* DC sur P0.24 et RST sur P0.22 */
        cmd-data-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>;
        reset-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
        
        width = <240>;
        height = <240>;
        x-offset = <0>;
        y-offset = <0>;
        vcom = <0x19>;
        gctrl = <0x35>;
        vrhs = <0x12>;
        vdvs = <0x20>;
        mdac = <0x00>;
        gamma = <0x01>;
        colmod = <0x05>;
        lcm = <0x2c>;
        porch-param = [0c 0c 00 33 33];
        cmd2bk = [04 2f 11 42 02];
        pwctrl1 = [a4 a1];
        pvgamctrl = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
        nvgamctrl = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
    };
};
