#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>

/ {
    chosen {
        zmk,matrix-transform = &default_transform;
        zmk,kscan = &mock_kscan;
        zephyr,display = &st7789;
        zmk,backlight = &disp_bl;
    };

    /* Scanner factice pour dongle sans matrice physique */
    mock_kscan: kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    /* Disposition des 42 touches de l'Ergonaut One */
    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <4>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)  RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)  RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)  RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
                                    RC(3,3) RC(3,4) RC(3,5)  RC(3,6) RC(3,7) RC(3,8)
        >;
    };

    /* Contrôle du rétroéclairage PWM */
    pwm_leds: pwm_leds {
        compatible = "pwm-leds";
        disp_bl: disp_bl {
            pwms = <&pwm0 0 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
            label = "Backlight PWM";
        };
    };
};

/* Bus SPI1 et conteneur MIPI DBI natif Zephyr 4.1 */
&spi1 {
    status = "okay";
    cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;

    mipi_dbi: mipi_dbi {
        compatible = "zephyr,mipi-dbi-spi";
        spi-dev = <&spi1>;
        dc-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;
        #address-cells = <1>;
        #size-cells = <0>;

        st7789: st7789@0 {
            compatible = "sitronix,st7789v";
            reg = <0>;
            mipi-max-frequency = <20000000>;
            
            width = <240>;
            height = <240>;
            x-offset = <0>;
            y-offset = <0>;
            vcom = <0x19>;
            gctrl = <0x35>;
            vrhs = <0x12>;
            vdvs = <0x20>;
            mdac = <0x00>;
            gamma = <0x01>;
            colmod = <0x05>;
            lcm = <0x2c>;
            porch-param = [0c 0c 00 33 33];
            cmd2bk = [04 2f 11 42 02];
            cmd2en-param = [5a 69 02 01];
            pwctrl1-param = [a4 a1];
            pvgamctrl = [d0 04 0d 11 13 2b 3f 54 4c 18 0d 0b 1f 23];
            nvgamctrl = [d0 04 0c 11 13 2c 3f 44 51 2f 1f 1f 20 23];
        };
    };
};
