if SHIELD_ERGONAUT_ONE_DONGLE

config ZMK_KEYBOARD_NAME
    default "Ergonaut One Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

config ZMK_DISPLAY
    default y

# On ne définit PAS ZMK_DISPLAY_STATUS_SCREEN ici,
# car Prospector gère son propre écran.
# Le choix reste donc sur NONE (par défaut).

config ZMK_DISPLAY_WORK_QUEUE_DEDICATED
    default y

config ZMK_DISPLAY_DEDICATED_THREAD_STACK_SIZE
    default 4096

config ZMK_DISPLAY_INIT_PRIORITY
    default 80

# Configuration LVGL pour l'écran ST7789
choice ST7789V_PIXEL_FORMAT
    default ST7789V_RGB565
endchoice

config LV_Z_VDB_SIZE
    default 20

config LV_DPI_DEF
    default 261

config LV_Z_BITS_PER_PIXEL
    default 16

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_16
endchoice

choice LV_FONT_DEFAULT
    default LV_FONT_DEFAULT_MONTSERRAT_20
endchoice

# Nécessaire pour le rétroéclairage PWM
config PWM
    default y

config LED
    default y

endif